<div class="big-container">

  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>MENU</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav class="sidemenu">
     <mat-nav-list class="menu-item">
      <a>API Test</a>
     </mat-nav-list>
      
      <mat-nav-list class="menu-item">
       <a>CRUD</a>
      </mat-nav-list>
      
      <mat-nav-list class="menu-item">
       <a>Charts</a>
      </mat-nav-list>
      
      <mat-nav-list class="menu-item">
       <a>Form</a>
      </mat-nav-list>
    </mat-sidenav>  

    <mat-sidenav-content>
      <table class="main-table">
        <tr>
          <th class="table-item">API Test</th>
          <th class="table-item">CRUD</th>
        </tr>
        <tr>
          <th class="table-item">Charts</th>
          <th class="table-item">Form</th>
        </tr>
      </table>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

